<!-- Footer -->
<footer class="page-footer font-small mdb-color lighten-3 pt-4">

  <!-- Footer Links -->
  
    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mb-4">Lifestyle store:</h5>
        
        <p> A lifestyle store is a retail store selling a wide variety of product categories under a single brand. 
          It is designed to associate a brand with one or another aspirational lifestyle.
          Our Lifestyle stores includes clothing, Shoes, watches.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mb-4">Quick Links:</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <a href="/">HOME</a>
            </p>
          </li>
          <li>
            <p>
              <a href="/user/signin">SIGN IN</a>
            </p>
          </li>
          <li>
            <p>
              <a href="/user/signup">SIGN UP</a>
            </p>
          </li>
         
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

        <!-- Contact details -->
        <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fas fa-home mr-3"></i>Somaiya Ayurvihar Complex Eastern Express Highway Near Everard Nagar, Sion East, Mumbai, Maharashtra 400022</p>
          </li>
          <li>
            <p>
              <i class="fas fa-envelope mr-3"></i> lifestyle19754@gmail.com</p>
          </li>
          <li>
            <p>
              <i class="fas fa-phone mr-3"></i> +91 8888758512</p>
          </li>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> +91 7045601556</p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>
          
        <!-- Facebook -->
        <a type="input" >
          <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
        </a>
        <!-- Twitter -->
        <a type="input" >
          <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
        </a>
        <!-- Google +-->
        <a type="input">
        <i class="fa fa-google-plus-square fa-2x" aria-hidden="true"></i>

        </a>
       
        <br><br>
        <a>
          <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3771.39981666488!2d72.86885431437635!3d19.04615105786061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7cf21727f6e19%3A0x473006136ad440dc!2sK.+J.+Somaiya+Institute+of+Engineering+and+Information+Technology!5e0!3m2!1sen!2sin!4v1565756606501!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </a>

      </div>
      <!-- Grid column -->
      

    </div>
    <!-- Grid row -->

  
  <!-- Footer Links -->

  

</footer>
<!-- Footer -->
