<nav class="navbar navbar-dark bg-dark navbar-expand-sm">
	<a class="navbar-brand" href="/"> LifeStyle Store </a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
		aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse justify-content-end" id="navbar-list-2">
		<ul class="navbar-nav ">
			<li class="nav-item active">
				<a class="nav-link" href="/shopping-cart/">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart <span
						class="badge">{{session.cart.totalQty}}</span>
				</a>
			</li>
			{{# if login }}
				<li class="nav-item"><a class="nav-link" href="/user/profile"> User Account </a></li>
				<li class="nav-item"><a class="nav-link" href="/user/logout"> Logout </a></li>
				{{ else }}
				<li class="nav-item"><a class="nav-link" href="/user/signup"> Sign up </a></li>
				<li class="nav-item"><a a class="nav-link" href="/user/signin"> Sign in </a></li>
				{{/if}}
				</li>
		</ul>
	</div>
</nav>