

<html>

	<head>
		
		<link rel='stylesheet' href='/stylesheets/signup.css' />
    
	</head>

<body>

	


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    

<body>

<div class="box">
    <br><h1>SIGN-UP</h1><br>
	{{#if hasErrors}}
			<div class="alert alert-danger">
				{{# each messages }}
					<p>{{this}}</p>
					{{/each}}
			</div>
		{{/if}}
<form action="/user/signup" method="post">    
<i class="fa fa-user icon" aria-hidden="true"></i>
  <input type="text" id="name" name="name" placeholder=" Enter your name"><br>
<i class="fa fa-phone icon" aria-hidden="true"></i>
<input type="text" placeholder=" Enter your phone number"  id="mobile" name="mobile"><br/>
<i class="fa fa-envelope icon" aria-hidden="true"></i>
<input type="email" placeholder="  Enter your Email"  id="email" name="email"><br/>
<i class="fa fa-lock icon" aria-hidden="true"></i>
<input type="password" type="password" id="password" name="password" placeholder="Enter your password"><br/>
<input type="hidden" name="_csrf" value="{{ csrfToken }}">
<button type="submit" class="btn btn-outline-primary">Sign Up</button>
</form>
</div>


</body>

</html>


		
