
@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

body{
font-family: 'Montserrat', sans-serif;
}

.carousel,.item,.active{
    height:100%;
  }
  @media (min-width: 576px)
  {
 .d-block{
    height:500px;
    width:1100px;
 } 
}