<div class="container">
	<div class="card">
		<div class="row">
			<div class="col-md-6">
				<img src="{{ product.imagePath }}" alt="" class="img-thumbnail2">
			</div>
			<div class="col-md-6">
				<h2>{{product.title}}</h2>
				<br>
				<br>
				<h1>Price:₹{{ product.price }}</h1>
				
				<h2>{{product.description}}</h2>
		
			</div>
		</div>
	</div>
</div>